.base_design {
	color: #9C9E9E;
	background-color: #212121;
	font-size: 2rem;
}
.form_row {
	
}

.inputs {
	background-color: #363636;
	border-color: #363636;
}

.buttons {
	color: #9C9E9E;
	background-color: #363636;
	border-color: #363636;
}

.buttons:hover {
	background-color: #F25151;
	color: black;
}
ul>li>a {
	color: #9C9E9E;
}
@media screen and (max-width: 575px) {
	.base_design {
		font-size: 40px;
	}
	input {
	line-height:30px;
	}
	.buttons {
		margin: 5px;
		display: block;
	}
}
//highlight:#F25151
//button:#707070
//highlight:#


